In [1]:
# Import necessary libraries

import pandas as pd
import json


# Load file

school_data = pd.read_csv("edubasealldata20251031-utf8.csv", low_memory=False, dtype=str)
pd.options.display.max_columns = None
school_data.head()

,URN,LA (code),LA (name),EstablishmentNumber,EstablishmentName,TypeOfEstablishment (code),TypeOfEstablishment (name),EstablishmentTypeGroup (code),EstablishmentTypeGroup (name),EstablishmentStatus (code),EstablishmentStatus (name),ReasonEstablishmentOpened (code),ReasonEstablishmentOpened (name),OpenDate,ReasonEstablishmentClosed (code),ReasonEstablishmentClosed (name),CloseDate,PhaseOfEducation (code),PhaseOfEducation (name),StatutoryLowAge,StatutoryHighAge,Boarders (code),Boarders (name),NurseryProvision (name),OfficialSixthForm (code),OfficialSixthForm (name),Gender (code),Gender (name),ReligiousCharacter (code),ReligiousCharacter (name),ReligiousEthos (name),Diocese (code),Diocese (name),AdmissionsPolicy (code),AdmissionsPolicy (name),SchoolCapacity,SpecialClasses (code),SpecialClasses (name),CensusDate,NumberOfPupils,NumberOfBoys,NumberOfGirls,PercentageFSM,TrustSchoolFlag (code),TrustSchoolFlag (name),Trusts (code),Trusts (name),SchoolSponsorFlag (name),SchoolSponsors (name),FederationFlag (name),Federations (code),Federations (name),UKPRN,FEHEIdentifier,FurtherEducationType (name),LastChangedDate,Street,Locality,Address3,Town,County (name),Postcode,SchoolWebsite,TelephoneNum,HeadTitle (name),HeadFirstName,HeadLastName,HeadPreferredJobTitle,BSOInspectorateName (name),InspectorateReport,DateOfLastInspectionVisit,NextInspectionVisit,TeenMoth (name),TeenMothPlaces,CCF (name),SENPRU (name),EBD (name),PlacesPRU,FTProv (name),EdByOther (name),Section41Approved (name),SEN1 (name),SEN2 (name),SEN3 (name),SEN4 (name),SEN5 (name),SEN6 (name),SEN7 (name),SEN8 (name),SEN9 (name),SEN10 (name),SEN11 (name),SEN12 (name),SEN13 (name),TypeOfResourcedProvision (name),ResourcedProvisionOnRoll,ResourcedProvisionCapacity,SenUnitOnRoll,SenUnitCapacity,GOR (code),GOR (name),DistrictAdministrative (code),DistrictAdministrative (name),AdministrativeWard (code),AdministrativeWard (name),ParliamentaryConstituency (code),ParliamentaryConstituency (name),UrbanRural (code),UrbanRural (name),GSSLACode (name),Easting,Northing,MSOA (name),LSOA (name),InspectorateName (name),SENStat,SENNoStat,BoardingEstablishment (name),PropsName,PreviousLA (code),PreviousLA (name),PreviousEstablishmentNumber,Country (name),UPRN,SiteName,QABName (code),QABName (name),EstablishmentAccredited (code),EstablishmentAccredited (name),QABReport,CHNumber,MSOA (code),LSOA (code),FSM,AccreditationExpiryDate
0,100000,201,City of London,3614,The Aldgate School,02,Voluntary aided school,4,Local authority maintained schools,1,Open,00,Not applicable,NaN,00,Not applicable,NaN,2,Primary,3,11,1,No boarders,Has Nursery Classes,2,Does not have a sixth form,3,Mixed,02,Church of England,Does not apply,CE23,Diocese of London,0,Not applicable,245,2,No Special Classes,16-01-2025,249,137,112,23.30,0,Not applicable,NaN,NaN,Not applicable,NaN,Not under a federation,NaN,NaN,10079319,NaN,Not applicable,22-09-2025,St James's Passage,Duke's Place,NaN,London,NaN,EC3A 5DE,www.thealdgateschool.org,02072831147,Miss,Alexandra,Allan,Headteacher,Not applicable,NaN,NaN,NaN,Not applicable,NaN,Not applicable,Not applicable,Not applicable,NaN,NaN,Not applicable,Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H,London,E09000001,City of London,E05009308,Portsoken,E14001172,Cities of London and Westminster,UN1,Urban: Nearer to a major town or city,E09000001,533498,181201,City of London 001,City of London 001F,NaN,NaN,NaN,NaN,NaN,999,NaN,NaN,NaN,200000071925,NaN,0,Not applicable,0,Not applicable,NaN,NaN,E02000001,E01032739,58,NaN
1,100001,201,City of London,6005,City of London School for Girls,11,Other independent school,3,Independent schools,1,Open,00,Not applicable,01-01-1920,00,Not applicable,NaN,0,Not applicable,10,18,1,No boarders,No Nursery Classes,1,Has a sixth form,2,Girls,06,NaN,Inter- / non- denominational,0000,Not applicable,2,Selective,860,2,No Special Classes,18-01-2024,780,0,780,NaN,0,Not applicable,NaN,NaN,Not applicable,NaN,Not applicable,NaN,NaN,10013279,NaN,Not applicable,01-09-2025,St Giles' Terrace,Barbican,NaN,London,NaN,EC2Y 8BB,http://www.clsg.org.uk,02078475500,Mrs,Jenny,Brown,Headteacher,Not applicable,NaN,NaN,NaN,Not applicable,NaN,Not applicable,Not applicable,Not applicable,NaN,NaN,Not applicable,Not approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H,London,E09000001,City of London,E05009302,Cripplegate,E14001172,Cities of London and Westminster,UN1,Urban: Nearer to a major town or city,E09000001,532301,181746,City of London 001,City of London 001B,ISI,0,99,Does not have boarders,Corporation of London,999,NaN,NaN,NaN,200000074660,NaN,0,Not applicable,0,Not applicable,NaN,NaN,E02000001,E01000002,NaN,NaN
2,100002,201,City of London,6006,St Paul's Cathedral School,11,Other independent school,3,Independent schools,1,Open,00,Not applicable,01-01-1939,00,Not applicable,NaN,0,Not applicable,4,13,3,Boarding school,No Nursery Classes,2,Does not have a sixth form,3,Mixed,02,Church of England,Christian,0000,Not applicable,0,Not applicable,285,2,No Special Classes,18-01-2024,285,169,116,NaN,0,Not applicable,NaN,NaN,Not applicable,NaN,Not applicable,NaN,NaN,10018890,NaN,Not applicable,30-09-2025,2 New Change,NaN,NaN,London,NaN,EC4M 9AD,http://www.spcslondon.com,02072485156,Mrs,Judith,Fremont-Barnes,Headteacher,Not applicable,NaN,NaN,NaN,Not applicable,NaN,Not applicable,Not applicable,Not applicable,NaN,NaN,Not applicable,Not approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H,London,E09000001,City of London,E05009293,Bread Street,E14001172,Cities of London and Westminster,UN1,Urban: Nearer to a major town or city,E09000001,532160,181151,City of London 001,City of London 001F,ISI,0,29,Has boarders,Chapter of the Cathedral Church of St Paulís,999,NaN,NaN,NaN,200000072075,NaN,0,Not applicable,0,Not applicable,NaN,NaN,E02000001,E01032739,NaN,NaN
3,100003,201,City of London,6007,City of London School,11,Other independent school,3,Independent schools,1,Open,00,Not applicable,01-01-1919,00,Not applicable,NaN,0,Not applicable,10,18,1,No boarders,No Nursery Classes,1,Has a sixth form,1,Boys,06,NaN,NaN,0000,Not applicable,0,Not applicable,1100,2,No Special Classes,18-01-2024,1074,1074,0,NaN,0,Not applicable,NaN,NaN,Not applicable,NaN,Not applicable,NaN,NaN,10008165,NaN,Not applicable,02-10-2025,107 Queen Victoria Street,NaN,NaN,London,NaN,EC4V 3AL,http://www.cityoflondonschool.org.uk,02036806300,Mr,Alan,Bird,Head,Not applicable,NaN,NaN,NaN,Not applicable,NaN,Not applicable,Not applicable,Not applicable,NaN,NaN,Not applicable,Not approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H,London,E09000001,City of London,E05009309,Queenhithe,E14001172,Cities of London and Westminster,UN1,Urban: Nearer to a major town or city,E09000001,531981,180844,City of London 001,City of London 001F,ISI,0,161,Does not have boarders,City of London Corporation(Board of Governors ...,999,NaN,NaN,NaN,100022936607,NaN,0,Not applicable,0,Not applicable,NaN,NaN,E02000001,E01032739,NaN,NaN
4,100004,202,Camden,1045,Sherborne Nursery School,15,Local authority nursery school,4,Local authority maintained schools,2,Closed,00,Not applicable,NaN,00,Not applicable,31-08-1992,1,Nursery,3,5,1,No boarders,Not applicable,0,Not applicable,3,Mixed,00,Does not apply,Does not apply,0000,Not applicable,0,Not applicable,NaN,0,Not applicable,NaN,NaN,NaN,NaN,NaN,0,Not applicable,NaN,NaN,Not applicable,NaN,Not under a federation,NaN,NaN,NaN,NaN,Not applicable,24-09-2015,Priestly House,Athlone Street,NaN,London,NaN,NW5 4LP,NaN,NaN,NaN,NaN,NaN,Headteacher,Not applicable,NaN,NaN,NaN,Not applicable,NaN,Not applicable,Not applicable,Not applicable,NaN,NaN,Not applicable,Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H,London,E09000007,Camden,E05000136,Haverstock,E14000750,Holborn and St Pancras,A1,(England/Wales) Urban major conurbation,E09000007,528515,184869,Camden 007,Camden 007D,NaN,NaN,NaN,NaN,NaN,999,NaN,NaN,NaN,200163898,NaN,0,Not applicable,0,Not applicable,NaN,NaN,E02000172,E01000901,NaN,NaN

In [2]:
# TypeOfEstablishment Mapping

typemap = school_data[["TypeOfEstablishment (code)", "TypeOfEstablishment (name)"]].drop_duplicates().sort_values("TypeOfEstablishment (code)")
typemap

,TypeOfEstablishment (code),TypeOfEstablishment (name)
8,01,Community school
0,02,Voluntary aided school
191,03,Voluntary controlled school
187,05,Foundation school
757,06,City technology college
90,07,Community special school
1694,08,Non-maintained special school
1075,10,Other independent special school
1,11,Other independent school
59,12,Foundation special school
6,14,Pupil referral unit
4,15,Local authority nursery school
27042,18,Further education
28569,24,Secure units
32190,25,Offshore schools
32182,26,Service children's education
4751,27,Miscellaneous
1855,28,Academy sponsor led
30481,29,Higher education institutions
49590,30,Welsh establishment
32513,31,Sixth form centres
21762,32,Special post 16 institution
37468,33,Academy special sponsor led
35583,34,Academy converter
36031,35,Free schools
37486,36,Free schools special
30825,37,British schools overseas
37477,38,Free schools alternative provision
37616,39,Free schools 16 to 19
36205,40,University technical college
36578,41,Studio schools
38160,42,Academy alternative provision converter
36754,43,Academy alternative provision sponsor led
36547,44,Academy special converter
38159,45,Academy 16-19 converter
40543,46,Academy 16 to 19 sponsor led
47812,49,Online provider
30719,56,Institution funded by other government department
48037,57,Academy secure 16 to 19

In [3]:
# EstablishmentStatus Mapping

statusmap = school_data[["EstablishmentStatus (code)", "EstablishmentStatus (name)"]].drop_duplicates().sort_values("EstablishmentStatus (code)")
statusmap

      EstablishmentStatus (code)   EstablishmentStatus (name)
0                              1                         Open
4                              2                       Closed
3623                           3  Open, but proposed to close
46821                          4             Proposed to open

In [4]:
# Convert TypeOfEstablishment & EstablishmentStatus to dictionaries (code: name)

type_dict = dict(zip(
    typemap["TypeOfEstablishment (code)"],
    typemap["TypeOfEstablishment (name)"]
))

status_dict = dict(zip(
    statusmap["EstablishmentStatus (code)"],
    statusmap["EstablishmentStatus (name)"]
))


# Combine into a single structure

combined = {
    "educational-establishment-type": type_dict,
    "educational-establishment-status": status_dict
}
combined

{'educational-establishment-type': {'01': 'Community school',
  '02': 'Voluntary aided school',
  '03': 'Voluntary controlled school',
  '05': 'Foundation school',
  '06': 'City technology college',
  '07': 'Community special school',
  '08': 'Non-maintained special school',
  '10': 'Other independent special school',
  '11': 'Other independent school',
  '12': 'Foundation special school',
  '14': 'Pupil referral unit',
  '15': 'Local authority nursery school',
  '18': 'Further education',
  '24': 'Secure units',
  '25': 'Offshore schools',
  '26': "Service children's education",
  '27': 'Miscellaneous',
  '28': 'Academy sponsor led',
  '29': 'Higher education institutions',
  '30': 'Welsh establishment',
  '31': 'Sixth form centres',
  '32': 'Special post 16 institution',
  '33': 'Academy special sponsor led',
  '34': 'Academy converter',
  '35': 'Free schools',
  '36': 'Free schools special',
  '37': 'British schools overseas',
  '38': 'Free schools alternative provision',
  '39': 'Free schools 16 to 19',
  '40': 'University technical college',
  '41': 'Studio schools',
  '42': 'Academy alternative provision converter',
  '43': 'Academy alternative provision sponsor led',
  '44': 'Academy special converter',
  '45': 'Academy 16-19 converter',
  '46': 'Academy 16 to 19 sponsor led',
  '49': 'Online provider',
  '56': 'Institution funded by other government department',
  '57': 'Academy secure 16 to 19'},
 'educational-establishment-status': {'1': 'Open',
  '2': 'Closed',
  '3': 'Open, but proposed to close',
  '4': 'Proposed to open'}}

In [5]:
# Write to JSON file

with open("../data/school-code-mappings.json", "w", encoding="utf-8") as f:
    json.dump(combined, f, indent=4, ensure_ascii=False)

print("JSON file saved as 'school-code-mappings.json'")

JSON file saved as 'school-code-mappings.json'